@import 'config';

.components-container {
  width: 1200px;
  position: relative;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-btn {
  width: 102px;
  height: 43px;
  border-radius: 24px;
  border: none;
  background-color: #1285e3;
  color: hsl(241deg 6.72% 75.68%);
  font-size: 16px;
  font-weight: 500;
  font-family: Main-Font;
  color: black;

  &:hover {
    cursor: pointer;
  }
}

.left-main-btn {
  left: 0;
  position: absolute;
}

.right-main-btn {
  right: 0;
  position: absolute;
}
