//COLORS
$clr-primary-light-red: rgb(255 87 87 / 25%);
$clr-primary-orangey-yellow: rgb(255 176 31 / 25%);
$clr-primary-green-teal: rgb(0 189 145 / 25%);
$clr-primary-cobalt-blue: rgb(17 37 212 / 25%);

$clr-neutral-white: hsl(0, 0%, 100%);
$clr-neutral-pale-blue: hsl(221, 100%, 96%);
$clr-neutral-light-lavender: hsl(241, 100%, 89%);
$clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

//GRADIENTS

$grad-light-slate-blue-background: hsl(252, 100%, 67%);
$grad-Light-royal-blue-background: hsl(241, 81%, 54%);

$grad-persian-blue-circle: hsla(241, 72%, 46%, 0);
$grad-violet-blue-circle: hsla(256, 72%, 46%, 1);

//FONTS

@font-face {
  font-family: Main-Font;
  src: url('./../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}
